USE [master]
GO
/****** Object:  Database [SMS]    Script Date: 26/08/2020 9:10:52 PM ******/
CREATE DATABASE [SMS]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SMS]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 26/08/2020 9:10:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[Password] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 26/08/2020 9:10:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](300) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
 CONSTRAINT [PK_Class] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 26/08/2020 9:10:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](200) NOT NULL,
	[LastName] [nvarchar](200) NOT NULL,
	[Address] [nvarchar](500) NULL,
	[DoB] [date] NULL,
	[Phone] [varchar](12) NULL,
	[ClassId] [int] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([Id], [Username], [Password]) VALUES (1, N'user1', N'password1')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Class] ON 

INSERT [dbo].[Class] ([Id], [Name], [StartDate], [EndDate]) VALUES (1, N'Class1', CAST(N'2012-02-22' AS Date), CAST(N'2012-02-25' AS Date))
INSERT [dbo].[Class] ([Id], [Name], [StartDate], [EndDate]) VALUES (2, N'Class2', CAST(N'2015-03-12' AS Date), CAST(N'2015-03-30' AS Date))
INSERT [dbo].[Class] ([Id], [Name], [StartDate], [EndDate]) VALUES (3, N'Class3', CAST(N'2018-06-23' AS Date), CAST(N'2018-07-24' AS Date))
SET IDENTITY_INSERT [dbo].[Class] OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([Id], [FirstName], [LastName], [Address], [DoB], [Phone], [ClassId]) VALUES (3, N'Khanh Duy', N'Nguyen Tuan', N'Address1', CAST(N'1999-02-13' AS Date), N'12345455', 1)
INSERT [dbo].[Student] ([Id], [FirstName], [LastName], [Address], [DoB], [Phone], [ClassId]) VALUES (4, N'Duc Duy', N'Hoang', N'Address2', CAST(N'1993-05-15' AS Date), N'2233111', 2)
INSERT [dbo].[Student] ([Id], [FirstName], [LastName], [Address], [DoB], [Phone], [ClassId]) VALUES (5, N'Hoang Phung', N'Le', N'Address3', CAST(N'1993-05-15' AS Date), N'312521512', 1)
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Class] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Class] ([Id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Class]
GO
USE [master]
GO
